<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= text %></title>
    </head>
    <body>
        <%= text %>
        <%= (data !== undefined) ? JSON.stringify(data, null, 4) : '' %>
    </body>
</html>

